table {
    width: 100%;
}

th {
    background-color: BurlyWood;
}

th, td {
    padding: 15px;
    text-align: left;
}

.btn {
    background-color: honeydew;
    border-radius: 6px;
    padding: 8px 12px;
}